@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro"), local("SourceSansPro-ExtraLight"), url("../fonts/SourceSansPro-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro"), local("SourceSansPro-Light"), url("../fonts/SourceSansPro-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("../fonts/SourceSansPro-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro"), local("SourceSansPro-Bold"), url("../fonts/SourceSansPro-Bold.ttf");
  font-weight: 600; }

/* source sans font declararions */
/* keygrame declerations */
@keyframes up_transition {
  50% {
    font-size: 50px; }
  100% {
    font-size: 30px; } }

@keyframes fancy_border {
  0% {
    border: 0px; }
  25% {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 1px solid #0084b4; }
  50% {
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid #0084b4;
    border-right: 0px; }
  75% {
    border-top: 0px;
    border-left: 1px solid #0084b4;
    border-bottom: 0px;
    border-right: 0px; }
  100% {
    border-top: 1px solid #0084b4;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px; } }

/* ------------------------------- */
body {
  margin: 0px;
  padding: 0px;
  background: #f2eee8; }
  body #page-content {
    margin: 0px;
    padding: 0px; }
    body #page-content .main-content .navbar {
      perspective: 1000;
      -webkit-perspective: 1000;
      z-index: 1000;
      position: fixed;
      background: #fffbf5;
      width: 100%;
      height: 55px;
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 600px) {
        body #page-content .main-content .navbar {
          flex-wrap: wrap; } }
      body #page-content .main-content .navbar .left-nav {
        display: flex;
        flex-shrink: 0;
        width: 250px;
        justify-content: space-around; }
        @media screen and (max-width: 600px) {
          body #page-content .main-content .navbar .left-nav {
            order: 2;
            width: 100%;
            background: #fffbf5;
            height: 50px; } }
        body #page-content .main-content .navbar .left-nav .round-icon {
          cursor: pointer;
          display: flex;
          height: 35px;
          width: 35px;
          border-radius: 50%;
          border: 1px solid #ccc;
          align-self: center;
          justify-content: center;
          text-align: center;
          color: #555;
          font-size: 14px; }
          body #page-content .main-content .navbar .left-nav .round-icon i {
            align-self: center; }
        body #page-content .main-content .navbar .left-nav .dummy:hover {
          animation: fancy_border 1s infinite; }

@-webkit-keyframes $animationName {}@-moz-keyframes $animationName {}@-o-keyframes $animationName {}@keyframes $animationName {}        body #page-content .main-content .navbar .left-nav .add-tweet {
          border: none;
          color: white;
          background-color: #0084b4; }
        body #page-content .main-content .navbar .left-nav .line {
          border-right: 1px solid #ddd; }
          @media screen and (max-width: 600px) {
            body #page-content .main-content .navbar .left-nav .line {
              display: none; } }
      body #page-content .main-content .navbar .logo {
        cursor: pointer;
        display: flex;
        width: 70%;
        justify-content: center;
        border-bottom: .8px solid #ddd; }
        body #page-content .main-content .navbar .logo i {
          align-self: center;
          font-size: 30px;
          color: #0084b4; }
          body #page-content .main-content .navbar .logo i:hover {
            animation: up_transition 1s ease; }

@-webkit-keyframes $animationName {}@-moz-keyframes $animationName {}@-o-keyframes $animationName {}@keyframes $animationName {}        @media screen and (max-width: 600px) {
          body #page-content .main-content .navbar .logo {
            order: 1;
            width: 100%;
            background: #fffbf5;
            height: 50px;
            border: none; } }
      body #page-content .main-content .navbar .right-nav {
        display: flex;
        flex-shrink: 0;
        width: 250px;
        justify-content: space-around; }
        @media screen and (max-width: 600px) {
          body #page-content .main-content .navbar .right-nav {
            order: 3;
            width: 100%;
            background: #fffbf5;
            height: 50px; } }
        body #page-content .main-content .navbar .right-nav #search-input {
          background: url("http://volunteer.ucla.edu/wp-content/uploads/2016/05/magnifying-glass-icon-46036.png") right no-repeat;
          background-size: 14px;
          background-color: rgba(255, 255, 255, 0.2);
          align-self: center;
          height: 30px;
          width: 170px;
          outline: none;
          border-radius: 15px;
          border: 1px solid #ccc;
          padding: 0px 5px; }
        body #page-content .main-content .navbar .right-nav .profile-image {
          align-self: center;
          height: 35px;
          width: 35px;
          border-radius: 50%; }
    body #page-content .main-content .tweet-region {
      background: #f2eee8;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body #page-content .main-content .tweet-region .tweet-counter {
        box-shadow: -.5px -.8px 5px .6px #ddd;
        margin-top: 100px;
        background: #fffbf5;
        display: flex;
        height: 80px;
        width: 700px;
        justify-content: space-between; }
        @media screen and (max-width: 600px) {
          body #page-content .main-content .tweet-region .tweet-counter {
            margin-top: 140px; } }
        body #page-content .main-content .tweet-region .tweet-counter .counter-item {
          cursor: pointer;
          display: flex;
          width: 23%;
          text-align: center;
          text-transform: uppercase;
          align-items: center;
          flex-wrap: wrap;
          /* &:after{
							position: absolute;
							top:6px;
							content: ' ';
							display: block;
							height: 4px;
							background-color: #0084b4;
							width: 0%;
						}

						&:hover:after{
							transition: width 0.6s cubic-bezier(0.22, 0.61,0.36,1);
							-webkit-transition: width 0.6s cubic-bezier(0.22, 0.61,0.36,1);
							width: 100%;
						} */ }
          body #page-content .main-content .tweet-region .tweet-counter .counter-item .count-type {
            font-family: 'Source Sans Pro',sans-serif;
            margin-top: auto;
            color: #c6c1b0;
            font-size: 15px;
            font-weight: 300;
            width: 100%; }
            @media screen and (max-width: 400px) {
              body #page-content .main-content .tweet-region .tweet-counter .counter-item .count-type {
                font-size: 10px; } }
          body #page-content .main-content .tweet-region .tweet-counter .counter-item .count {
            font-size: 18px;
            margin-bottom: auto;
            font-weight: 700;
            width: 100%; }
        body #page-content .main-content .tweet-region .tweet-counter .selected {
          border-bottom: 4px solid #0084b4; }
      body #page-content .main-content .tweet-region .tweets {
        perspective: 5000px;
        -webkit-perspective: 5000px;
        background: #fffbf5;
        margin-top: 50px;
        width: 700px; }
        body #page-content .main-content .tweet-region .tweets .tweet {
          box-shadow: -.6px -.8px 2px .6px #ddd;
          padding: 20px auto;
          display: flex;
          border-bottom: .5px solid #eee;
          justify-content: space-around;
          padding-top: 30px;
          padding-bottom: 30px; }
          body #page-content .main-content .tweet-region .tweets .tweet:hover {
            transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
            -webkit-transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
            transform: translateZ(30px);
            -webkit-transform: translateZ(30px); }
          body #page-content .main-content .tweet-region .tweets .tweet .left-pic-pane {
            display: flex;
            width: 10%;
            justify-content: center; }
            body #page-content .main-content .tweet-region .tweets .tweet .left-pic-pane img {
              height: 50px;
              width: 50px;
              border-radius: 50%; }
          body #page-content .main-content .tweet-region .tweets .tweet .right-content-pane {
            display: flex;
            flex-wrap: wrap;
            width: 80%; }
            body #page-content .main-content .tweet-region .tweets .tweet .right-content-pane .author-info {
              display: flex;
              margin-bottom: 10px;
              width: 100%; }
              body #page-content .main-content .tweet-region .tweets .tweet .right-content-pane .author-info .author-name {
                font-family: 'Source Sans Pro',sans-serif;
                font-weight: 600; }
              body #page-content .main-content .tweet-region .tweets .tweet .right-content-pane .author-info .author-handle {
                font-family: 'Source Sans Pro',sans-serif;
                font-weight: 300;
                margin-left: 10px;
                color: #c6c1b0; }
              body #page-content .main-content .tweet-region .tweets .tweet .right-content-pane .author-info .author-time {
                margin-left: auto;
                right: 0px;
                color: #c6c1b0; }
            body #page-content .main-content .tweet-region .tweets .tweet .right-content-pane .tweet-text {
              font-family: 'Source Sans Pro',sans-serif;
              font-weight: 400;
              margin-bottom: 10px; }
            body #page-content .main-content .tweet-region .tweets .tweet .right-content-pane .tweet-media {
              margin-bottom: 10px;
              max-height: 400px;
              width: 100%;
              height: auto; }
            body #page-content .main-content .tweet-region .tweets .tweet .right-content-pane .card-icons {
              display: flex;
              color: #c6c1b0;
              width: 100%; }
              body #page-content .main-content .tweet-region .tweets .tweet .right-content-pane .card-icons .expand {
                margin-left: auto; }
              body #page-content .main-content .tweet-region .tweets .tweet .right-content-pane .card-icons .param {
                cursor: pointer;
                margin-right: 10px; }
                body #page-content .main-content .tweet-region .tweets .tweet .right-content-pane .card-icons .param i {
                  margin-right: 4px; }
                body #page-content .main-content .tweet-region .tweets .tweet .right-content-pane .card-icons .param:hover {
                  color: #0084b4; }
